[MASTER]
load-plugins=pylint_quotes,pylint_doc_spacing,pylint_import_modules
ignore-patterns=.*_pb2\.py

# TODO(pascal): Find a way to enforce import order of module before specific classes.
# TODO(cyrille): Find a way to enforce constants naming convention,
#   since pylint has decided top-level variables are no more constants.

[REPORTS]
output=colorized
# no-member is not needed as we check for types statically.
disable=I,R,no-member
reports=no
enable=useless-suppression,useless-object-inheritance,no-else-return,no-else-raise

[FORMAT]
# Ignore any lines containing an URL longer than ~60 chars long.
ignore-long-lines=https?://\S{50}

[MISCELLANEOUS]
notes=FIXME,XXX
string-quote=single-avoid-escape
allowed-direct-imports=typing.{
    AbstractSet,Any,Callable,Final,Generator,IO,ItemsView,Iterable,Iterator,KeysView,Literal,
    Mapping,MutableMapping,NoReturn,Optional,Pattern,Sequence,Set,TextIO,Tuple,Type,TypedDict,Union},
    typing_extensions.Literal

[VARIABLES]
dummy-variables-rgx=_?unused_.*

[DESIGN]
ignored-argument-names=unused_.*

# Override default regex to allow long method names in tests.
method-rgx=([a-z_][a-z0-9_]{4,30}|test_[a-z0-9_]+)$

[TYPECHECK]
ignored-modules=pandas.*,numpy.*,bob_emploi.frontend.api.*
