{
  plugins: [
    '@babel/plugin-syntax-dynamic-import',
    ['@babel/plugin-proposal-class-properties', {loose: false}],
    ['@babel/plugin-proposal-optional-chaining', {loose: false}],
  ],
  presets: [
    ['@babel/env', {corejs: 3, modules: false, useBuiltIns: 'usage'}],
    '@babel/react',
    '@babel/typescript',
  ],
}
