{
  plugins: [
    '@babel/plugin-syntax-dynamic-import',
    ['@babel/plugin-proposal-class-properties', { loose: false }],
    ['@babel/plugin-proposal-optional-chaining', { loose: false }],
  ],
  presets: [['@babel/env', {modules: false}], '@babel/react', '@babel/typescript'],
}
