# Requirements for python code (outside of notebooks). Keep them sorted.
# Move requirements already present in pandas-base to installed_requirements.txt (unless you need to cap them).
# TODO(cyrille): Drop once this is the case in pandas-base.
airtable>=0.4.8
airtablemock==0.0.11
awscli==1.22.87
boto3==1.21.19
demjson==2.2.4
dnspython==2.2.1
# TODO(cyrille): Find another elasticsearch client.
# See https://github.com/elastic/elasticsearch-py/issues/1667
elasticsearch<7.14.0
google-api-python-client==2.40.0
httplib2==0.20.4
js2py==0.71
json5==0.9.6
mailjet_rest==1.3.4
mypy==0.942
mypy-protobuf==3.2.0
nbformat==5.3.0
# For pdf2txt.py in Makefile
pdfminer==20191125
polib==1.1.1
protobuf==3.20.0
pycodestyle==2.8.0
pyjson5==1.6.1
pylint-doc-spacing==0.0.4
pylint-import-modules==0.2.0
pylint-quotes==0.2.3
pymongo-stubs==0.2.0
python-emploi-store==0.10.2
requests-aws4auth==1.1.2
requests_mock==1.9.3
runipy==0.1.5
sentry-sdk==1.5.7
termcolor==1.1.0
typeform==1.1.0
types-certifi==2021.10.8.1
types-Flask==1.1.6
types-polib==1.1.11
types-protobuf==3.19.12
types-requests==2.27.16
types-termcolor==1.1.3
unidecode==1.3.4
