airtable==0.4.8
airtablemock==0.0.11
Babel==2.9.1
coverage==6.3.2
mongomock==4.0.0
mypy==0.942
mypy-protobuf==3.2.0
mypy_extensions==0.4.3
polib==1.1.1
pycodestyle==2.8.0
pyjson5==1.6.1
pymongo-stubs==0.2.0
pylint==2.12.2
pylint-doc-spacing==0.0.4
pylint-import-modules==0.2.0
pylint-quotes==0.2.3
# Needed for nose-watch.
# TODO(cyrille): Drop once https://github.com/lukaszb/nose-watch/pull/23/files is released.
pyyaml==6.0
requests_mock==1.9.3
rstr==3.1.0
types-certifi==2021.10.8.1
types-Flask==1.1.6
types-polib==1.1.11
types-protobuf==3.19.15
types-requests==2.27.15
types-Werkzeug==1.0.9
